/* GLOBAL */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

*, *:before, *:after {
	-moz-box-sizing:border-box; 
   -webkit-box-sizing:border-box; 
   box-sizing:border-box; 
   margin:0px;
	padding:0px;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
	font-family:'Raleway', sans-serif;
	color:#808080;
	overflow-x:hidden;
}

a {
	text-decoration:none;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}

p {
	line-height:1.65;
	font-size:16px;
}

input, textarea, select {
	border:none;
	resize:none;
	outline:none;
	font-weight:500;
}

input:focus, textarea:focus, button:focus {
	outline:none;
}

h1, h2 {
	font-size:48px;
	text-transform:uppercase;
}

h2 {
	color:#1c1c1c;
	text-align:center;
	font-weight:500;
}

h3 {
	font-weight:400;
	font-size:30px;
}

h4 {
	font-size:22px;
}

img {
	max-width:100%;
}

section {
	padding:75px 0;
}

.wrapper {
	max-width:1200px;
	margin:0 auto;
}

.wrapper-padded {
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
}

.description-text {
	text-align:center;
	max-width:600px;
	margin:0 auto;
	padding:35px 0;
	font-size:17px;
}

.browse, .browse a {
	text-align:center;
	font-size:18px;
	color:#55ceb8;
	text-transform:uppercase;
	margin-bottom:50px;
}

.button {
	font-size:18px;
	text-align:center;
	text-transform:uppercase;
	padding:15px;
	border:1px solid white;
	margin:0 auto;
	border-radius:5px;
	display:block;
	color:white;
	background-color:rgba(0,0,0,0);
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}

.col12, .col14 {
	float:left;
	margin:15px;
}

.col14 {
	width:calc(25% - 30px);
}

.col12 {
	width:calc(50% - 30px);
}

.blue-text {
	color:#2ac5fb;
}

.pink-text {
	color:#fe1d62;
}

.lime-text {
	color:#b6d546;
}

.teal-text {
	color:#3b9fb3;
}

.green-text {
	color:#0dad6b;
}

.purple-text {
	color:#724af2;
}

.berry-text {
	color:#bf3761;
}

.aqua-text {
	color:#55ceb8;
}



/* HEADER */
header {
	background-color:#1c1c1c;
	font-family:'Open Sans', sans-serif;
	color:white;
	font-size:15px;
	font-weight:300;
}

.header-top {
	border-bottom:1px solid #3d3d3f;
	padding:15px 0;
}

.header-top .logo {
	float:left;
}

.header-top-search {
	float:right;
}

.header-top-search-left, .header-top-search-right {
	background-color:#3d3d3f;
	float:left;
}

.header-top-search-left {
	border-top-left-radius: 15px;
	border-bottom-left-radius:15px;
	padding:7px 15px 9px 15px;
	width:40px;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-ms-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	transition:all 0.1s linear;
}

.header-top-search-left:hover {
	background-color:#323233;
	cursor:pointer;
}

.header-top-search-right {
	color:#646465;
	font-weight:300;
	font-size:15px;
	border-top-left-radius: 0;
	border-bottom-left-radius:0;
	border-top-right-radius: 15px;
	border-bottom-right-radius:15px;
	border-left:1px solid #1c1c1c;
	padding:8px 25px;
	width:159px;
}

.header-bottom-left {
	float:left;
}

.header-bottom-right {
	float:right;
}

nav a {
	color:white;
	text-transform:uppercase;
}

nav a:hover {
	opacity:0.6;
}

nav li {
	margin:15px;
	list-style:none;
}

.header-bottom-left li {
	position:relative;
	float:left;
}

.header-bottom-right li {
	float:right;
}

.header-bottom-left li .sub-menu {
	background-color:#1c1c1c;
	display:none;
	position:absolute;
	left:-15px;
	min-width:125px;
}

.header-bottom-left li:hover .sub-menu {
	display:block;
	z-index:10;
}

.header-bottom-left li .sub-menu li {
	float:none;
}

.header-bottom-left li .sub-menu li:first-child {
	padding-top:10px;
}

.slicknav_menu {
	display:none;
}


/* FOOTER */
.footer-top {
	background-color:#1c1c1c;
	color:white;
	text-align:center;
	border-bottom:1px solid #333;
	padding:65px 0;
}

.footer-top h3 {
	font-size:36px;
	font-weight:200;
	padding:20px 0 40px 0;
}

.newsletter-subscribe {
	max-width:630px;
	margin:0 auto;
}

.footer-top .button, .newsletter-email {
	float:left;
	margin:0 15px;
	padding:12px 15px;
}

.footer-top .button {
	width:calc(35% - 30px);
}

.footer-top .button:hover, .footer-top .button:focus {
	background-color:white;
	color:#1c1c1c;
}

.newsletter-email {
	color:#646465;
	font-size:14px;
	background-color:#333;
	padding:15px 20px;
	width:calc(65% - 30px);
}

.footer-middle {
	background-color:#1c1c1c;
	padding:40px 0;
	color:#4c4c4c;
	font-weight:500;
}

.footer-middle img {
	display:block;
}

.footer-middle li, .footer-middle p, .footer-middle a {
	font-size:14px;
}

.footer-middle a {
	color:#4c4c4c;
}

.link-title-2 a:after, .link-title-3 a:after {
	content:"";
	display:block;
	height:1px;
	width:140px;
	background-color:#4c4c4c;
	margin:10px 0;
}

.link-title-2 a.last:after, .link-title-3 a.last:after {
	display:none;
}

.link-title-2 a:hover {
	color:#2ac5fb;
}

.link-title-3 a:hover {
	color:#b6d546;
}

.link-title-4 a:hover {
	color:#348393;
}

.link-title-4 ul {
	margin-left:20px;
	line-height:1.65;
}

.link-title-4 li {
	padding-left:10px;
}

.link-title-4 li:first-child {
	list-style-image:url(../images/contact-house.png);
}

.link-title-4 li:nth-child(2) {
	list-style-image:url(../images/contact-phone.png);
}

.link-title-4 li:last-child {
	list-style-image:url(../images/contact-mail.png);
	word-wrap: break-word;
}

.link-title-4 i.fa {
	padding:10px;
	margin:0 0.5%;
	color:#4c4c4c;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
	height:35px;
	width:35px;
	text-align:center;
	border-radius:50%;
}

.link-title-4 i.fa:hover {
	color:white;
}

.link-title-4 i.fa-facebook:hover {
	background-color:#3b5998;
}

.link-title-4 i.fa-twitter:hover {
	background-color:#55acee;
}

.link-title-4 i.fa-linkedin:hover {
	background-color:#0077b5;
}

.link-title-4 i.fa-pinterest:hover {
	background-color:#bd081c;
}

.footer-middle .link-title {
	text-transform:uppercase;
	font-size:16px;
	padding:35px 0 20px 0;
}

.footer-bottom {
	background-color:#292929;
	font-family:'Open Sans', sans-serif;
	color:#666;
	padding:20px 0 10px 0;
	position:relative;
	font-weight:500;
}

.footer-bottom p {
	font-size:12px;
}

.footer-bottom a {
	color:#666;
}

.footer-bottom a:hover {
	opacity:0.6;
}

.footer-bottom-left, .footer-bottom-center, .footer-bottom-right {
	float:left;
}

.footer-bottom-left, .footer-bottom-right{
	width:42.5%;
}

.footer-bottom-right {
	text-align:right;
}

.footer-bottom-center {
	width:15%;
	text-align:center;
	margin-top:-10px;
}

.footer-bottom #back-to-top i.fa {
	width:35px;
	height:35px;
	border-radius:50%;
	background-color:#4d4d4d;
	color:#999;
	text-align:center;
	font-size:18px;
	padding:6px;
}

.footer-bottom #back-to-top i.fa:hover {
	background-color:#1c1c1c;
	-webkit-transition:all 0.1s linear;
	-moz-transition:all 0.1s linear;
	-ms-transition:all 0.1s linear;
	-o-transition:all 0.1s linear;
	transition:all 0.1s linear;
}


/* HERO IMAGE */
.hero {
	height:calc(100vh - 117px);
	min-height:350px;
	background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/home-header.jpeg);
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:top center;
	position:relative;
}

.hero-text {
	position:absolute;
	top:50%;
   transform:translate(0, -50%);
   color:white;
   max-width:585px;
   text-shadow:1px 1px 3px rgba(0,0,0,0.5);
   padding-right:15px;
}

.hero h1 {
	font-weight:100;
}

h1:after {
	content:"";
	display:block;
	height:1px;
	max-width:475px;
	background-color:rgba(256,256,256,0.3);
	margin:30px 0;
}

.hero-text p {
	font-size:17px;
	font-weight:300;
	line-height:1.75;
}

.hero-arrows i.fa {
	position:absolute;
	top:50%;
	transform:translate(0, -50%);
	color:white;
	background-color:rgba(256,256,256,0.2);
	width:35px;
	height:35px;
	text-align:center;
	border-radius:50%;
}

.hero-arrows i.fa-angle-left {
	left:15px;
	padding-right:3px;
}

.hero-arrows i.fa-angle-right {
	right:15px;
	padding-left:3px;
}


/* WHY JOIN */
.why-join .col14 {
	text-align:center;
}

.why-join h4 {
	color:#333;
	font-weight:500;
	padding:40px 0;
}


/* SUBSCRIBE */
.subscribe {
	background-color:#59dac3;
	color:white;
	text-shadow:0 0 5px rgba(0,0,0,0.15);
	padding:40px 0;
}

.subscribe h3 {
	max-width:630px;
	margin:0 auto;
	text-align:center;
	font-size:30px;
}

.coursea {
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:100;
}

.subscribe .button {
	width:230px;
	margin-top:30px;
	text-shadow:none;
}

.subscribe .button:hover, .subscribe .button:focus {
	background-color:white;
	color:#59dac3;
}


/* LATEST COURSES & LATEST TUTORIALS*/
.latest-courses .col14, .latest-tutorials .col14 {
	border:1px solid #d9d8d8;
	box-shadow:0 5px 7px rgba(0,0,0,0.1);
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
	height:360px;
	position:relative;
	background-color:white;
}

.latest-tutorials {
	background-color:#f9fcfc;
	border-bottom:1px solid #eaecec;
}

.latest-courses .col14:hover, .latest-tutorials .col14:hover {
	background-color:#eef8f6;
}

.latest-text {
	padding:15px 20px;
}

.category {
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}

.latest-text .title {
	color:#333;
	font-weight:600;
	padding:20px 0;
}

.latest-text .date {
	color:#9d9c9c;
	font-size:14px;
	position:absolute;
	bottom:15px;
}

/* SEARCH COURSES */
.search-courses {
	background-color:#7bd6c6;
}

.search-courses h2, .search-courses p {
	color:white;
	text-shadow:0 2px 0 rgba(0,0,0,0.15);
}

.search-courses h2:after {
	content:"";
	display:block;
	height:1px;
	max-width:115px;
	background-color:rgba(256,256,256,0.8);
	margin:30px auto;
}

.search-courses .description-text {
	padding-top:0;
	padding-bottom:70px;
	font-size:20px;
}

.search-courses form {
	max-width:1030px;
	margin:0 auto;
}

.search-category, .search-type, .search-keywords, .search-courses .button {
	float:left;
	font-size:15px;
	margin:0 15px;
}

.search-courses select {
	color:#a9a9a9;
   -moz-appearance:none;
   -webkit-appearance:none;
   appearance:none;
   background-color:white;
   background-image: url(../images/arrow-down.png);
   background-repeat: no-repeat;
   background-position: right center;
   padding:10px 20px;
   float:left;
   cursor:pointer;
   border-radius:5px;
   width:100%;
}

.search-courses .button, .search-type {
	width:calc(20% - 30px);
}

.search-category, .search-keywords {
	width:calc(30% - 30px);
}

.search-keywords {
	border-radius:5px;
	padding:10px 20px;
	color:#a9a9a9;
}

.search-courses .button {
	padding:9px;
}

.search-courses .button:hover {
	color:#7bd6c6;
	background-color:white;
}


/* WHAT STUDENTS SAY */
.students-say .col12 {
	padding:25px;
}

.students-say img {
	border-radius:50%;
	width:30%;
	max-width:462px;
	float:left;
}

.students-text {
	width:70%;
	float:left;
	padding-left:25px;
}

.students-text .name {
	font-size:22px;
}

.students-text .job-title {
	color:#9d9c9c;
	font-size:14px;
	padding:5px 0 10px 0;
}

.student-1 {
	border:2px dotted #55ceb8;
}

.student-2 {
	border:2px dotted #aad021;
}

.student-3 {
	border:2px dotted #fe1d62;
}

.student-4 {
	border:2px dotted #3b9fb3;
}


/* CREATE ACCOUNT */
.create-account {
	background:#57d2bd;
	background: url("../images/contact-background-stars.png") top center no-repeat;
	background: url("../images/contact-background-stars.png") top center no-repeat, -webkit-linear-gradient(top, #8ddfd2 0%, #6fd9c7 25%, #57d2bd 50%, #54cab7 75%, #48a496 100%);
	background: url("../images/contact-background-stars.png") top center no-repeat, -moz-linear-gradient(top, #8ddfd2 0%, #6fd9c7 25%, #57d2bd 50%, #54cab7 75%, #48a496 100%);
	background: url("../images/contact-background-stars.png") top center no-repeat, linear-gradient(to bottom, #8ddfd2 0%, #6fd9c7 25%, #57d2bd 50%, #54cab7 75%, #48a496 100%);
   background-size:100%;
   text-align:center;
   color:#999;
   padding:115px 0;
}

.create-account-box-outer {
	max-width:500px;
	width:calc(100% - 30px);
	margin:0 auto;
	background-color:rgba(256,256,256,0.2);
	padding:25px;
}

.create-account-box-inner {
	background-color:white;
	padding:45px;
}

.create-account img {
	display:block;
	margin:0 auto;
}

.create-account h2 {
	font-size:33px;
	font-weight:300;
	padding:25px 0 10px 0;
}

.create-account h2 .account {
	font-weight:500;
}

.create-account .inputs {
	position:relative;
}

.create-account p:not(.sign-in):after {
	content:"";
	margin:15px 0 30px 0;
	display:block;
	height:1px;
	background-color:#eaeaea;
	width:100%;
}

.create-account input:not(.button) {
	border:1px solid #d9d7d7;
	width:100%;
	padding:13px 20px;
	color:#c2c2c2;
	margin-bottom:20px;
}

.create-account input:not(.button):focus {
	border-color:#8ae6d5;
	box-shadow:0 0 7px #8ae6d5;
}

.create-account input.button {
	background-color:#59dac3;
	box-shadow:0 3px 0 0 #43ac99;
	border:1px solid #59dac3;
	margin:25px auto 30px auto;
	transition:none;
}

.create-account input.button:hover {
	background-color:#4dd1b6;
	border:1px solid #4dd1b6;
}

.create-account input.button:active {
	box-shadow:none;
	margin:28px auto 27px auto;
}

.create-account p {
	font-size:14px;
}

.create-account p a, .create-account label i.fa:hover {
	color:#55ceb8;
}

.create-account label {
	position:absolute;
	padding:5px 0;
	border-left:1px solid #e7e7e7;
	right:0;
	top:10px;
}

.create-account label i.fa {
	width:40px;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}

.create-account p.sign-in a:hover {
	color:#43ac99;
}


/* BLOG */
.blog {
	background-image:url(../images/wallpaper.jpg);
	background-repeat:no-repeat;
	background-position:-50px -175px;
	background-size:100%;
}

.blog h2 {
	font-size:36px;
	color:#fe1d62;
	background-color:white;
	padding:15px 20px;
	border:2px dotted #fe1d62;
	max-width:500px;
	margin:0 auto;
	width:calc(100% - 30px);
}

.blog-content, .blog-sidebar {
	padding:35px 15px 50px 15px;
}

.blog-sidebar {
	float:right;
}

.blog-content {
	float:left;
}

.blog-content {
	width:75%;
}

.blog-sidebar {
	width:25%;
}

.article {
	padding:45px 0 50px 0;
	border-bottom:1px solid #d3d9d8;
}

.article:last-child {
	border-bottom:none;
	border-bottom:7px solid #bdeee4;
}

.article h3 {
	color:#1c1c1c;
	margin:10px 0;
}

.article p.byline {
	font-size:14px;
	margin-bottom:45px;
}

.article .byline a.author {
	color:#1c1c1c;
	font-weight:600;
}

.article .byline a.aqua-text {
	font-weight:700;
}

.article img {
	float:left;
	max-width:280px;
	margin-right:25px;
}

.article img ~ p {
	font-size:17px;
	margin-bottom:25px;
}

.article img ~ a {
	color:#55ceb8;
}

.blog-content .blog-content-navigation {
	float:left;
	margin-top:75px;
}

.blog-content-navigation.next {
	float:right;
}

.blog-content .page-number {
	width:50%;
	text-align:center;
}

.blog-content .prev, .blog-content .next {
	width:25%;
}

.blog-content .next {
	text-align:right;
}

.blog-content-navigation a {
	color:#1c1c1c;
	font-weight:600;
	padding:10px 15px;
	transition:none;
}

.blog-content .prev a:hover, .blog-content .next a:hover, .blog-content .page-number a.current {
	padding:7px 12px;
	border:3px solid #57e2c9;
}

.blog-content .prev a:hover, .blog-content .next a:hover {
	border-radius:3px;
}

.blog-content .page-number a {
	margin:0 5px;
}

.blog-content .page-number a.current {
	border-radius:50%;
	padding-top:6px;
	padding-bottom:8px;
}

.blog-content .page-number a:not(.current):hover {
	color:#57e2c9;
}

.blog-sidebar-search {
	position:relative;
	margin:50px 0 15px 0;
}

.blog-sidebar-search input {
	border:1px solid #d6d6d6;
	border-radius:5px;
	padding:15px;
	width:calc(100% - 30px);
	color:#b4b4b4;
}

.blog-sidebar-search label {
	position:absolute;
	right:15px;
	top:15px;
	color:#1c1c1c;
}

.blog-sidebar h4 {
	color:#1c1c1c;
	font-size:18px;
	padding:40px 0 25px 0;
	border-bottom:1px solid #d3d9d8;
	margin-bottom:25px;
}

.popular-post img, .popular-post .popular-posts-text {
	float:left;
}

.popular-post img {
	width:40%;
	padding-right:25px;
}

.blog-sidebar .popular-posts-text {
	width:60%;
}

.popular-post {
	padding:5px 0 20px 0;
}

.blog-sidebar .popular-posts a {
	color:#808080;
}

.blog-sidebar .categories p, .blog-sidebar .archives p {
	margin-bottom:30px;
}

.blog-sidebar .categories a, .blog-sidebar .archives a {
	color:#999;
}

.blog a:hover {
	color:#1c1c1c;
}


/* MEDIA QUERIES */
@media screen and (max-width:785px) {
	#menu {
		display:none;
	}
	.slicknav_menu {
		display:block;
	}
}

@media screen and (max-width:768px) {
	.col14 {
		width:calc(50% - 30px);
	}
	.latest-courses .col14, .latest-tutorials .col14 {
		height:400px;
	}
	.students-say img, .students-text {
		width:100%;
	}
	.students-say img {
		margin-bottom:10px;
	}
	.hero {
		min-height:400px;
	}
	.search-type {
		margin-bottom:30px;
	}
	.search-courses .button, .search-type {
		width:calc(40% - 30px);
	}
	.search-category, .search-keywords {
		width:calc(60% - 30px);
	}
	.footer-bottom-left, .footer-bottom-center, .footer-bottom-right{
		width:100%;
		margin:0;
		text-align:center;
	}
	.footer-bottom-center {
		margin:10px 0;
	}
	.blog-content, .blog-sidebar {
		width:100%;
	}
	.blog-content {
		padding-top:0;
	}
	.blog-sidebar .categories, .blog-sidebar .archives {
		width:calc(50% - 15px);
		float:left;
	}
	.blog-sidebar .categories {
		margin-right:15px
	}
	.blog-sidebar .archives {
		margin-left:15px;
	}
	.blog-content-navigation.prev, .blog-content-navigation.next {
		width:50%;
	}
	.blog-content-navigation.page-number {
		width:100%;
		margin-top:50px;
	}
	.header-top-search-right {
		width:129px;
	}
}

@media screen and (max-width:480px) {
	.col14, .col12 {
		width:calc(100% - 30px);
	}
	.hero {
		min-height:500px;
	}
	.hero h1 {
		font-size:40px;
	}
	.newsletter-email {
		width:calc(100% - 30px);
	}
	.newsletter-subscribe .button {
		width: calc(100% - 30px);
		margin:30px 15px 0 15px;
	}
	.latest-tutorials .col14, .latest-courses .col14 {
		height:425px;
	}
	.header-top .logo, .header-top-search {
		width:100%;
	}
	.header-top .logo {
		text-align:center;
		margin-bottom:10px;
	}
	.header-top-search form {
		margin:0 auto;
		max-width:220px;
	}
}